.button {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  right: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3b7bdb;
  border: 2px solid #fff;
  position: fixed;
  transition: 0.2s all ease-in-out;
  z-index: 996;

  cursor: pointer;

  @media screen and (max-width: 400px) {
    display: none;
  }

  &:hover {
    background-color: #1867de;
  }
}

.show {
  right: 25px;

  @media screen and (max-width: 768px) {
    right: 10px;
  }
}

.img {
  width: 30px;
}
