@import '../../styles/variables.scss';

.container {
  padding: 50px 100px;
  background-color: $secondaryBakgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  width: 80%;
}
