@import '../../styles/variables.scss';

.item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 27%;
  background-color: $bakgroundColor;
  box-shadow: $primaryShadow;
  overflow: hidden;
  margin: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.text {
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  & + & {
    margin-top: 10px;
  }
}

.span {
  font-weight: 400;
}
