@import '../../styles/variables.scss';

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 10px 50px;
  background-color: $bakgroundColor;
  border-bottom: 1px solid $secondaryGrayColor;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 15%;
}

.link {
  text-decoration: none;
  margin: 0 5px;
  font-weight: 600;
  font-size: 18px;
  color: #2e2e2e;
  transition: color 0.3s;
  padding: 10px 0;

  &:hover {
    color: #4e91f5;
  }

  & + & {
    margin-left: 25px;
  }
}

.active {
  position: relative;
  color: #4e91f5;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}
